<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--扫描组件-->
    <context:component-scan base-package="cn.kgc.ssm.mapper,cn.kgc.ssm.service"/>
    <!--引入数据库配置文件-->
    <context:property-placeholder location="classpath:config/database.properties"/>
    <!--数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" 		value="${jdbc.driver}"/>
        <property name="url" 					value="${jdbc.url}"/>
        <property name="username" 				value="${jdbc.username}"/>
        <property name="password" 				value="${jdbc.password}"/>
        <!--<property name="initialSize" value="100"></property>-->
        <property name="filters" value="stat"/>
    </bean>
    <!--DruidAOP监控service执行时间start-->
    <!--通知-->
    <bean id="druid-stat-interceptor"
          class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
    </bean>
    <!--切点 -->
    <bean id="druid-stat-pointcut"
          class="org.springframework.aop.support.JdkRegexpMethodPointcut">
        <property name="patterns">
            <list>
                <value>cn.bdqn.ssm.service.*</value>
            </list>
        </property>
    </bean>

    <!--配置MyBatis的SQLSession-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--<property name="typeAliases" value="cn.kgc.springmybatis.bean"/>-->
    </bean>
    <!--扫描mapper接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.kgc.ssm.mapper"/>
    </bean>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置事务-->
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="get*" read-only="true" rollback-for="Exception" propagation="REQUIRED" isolation="DEFAULT"/>
            <tx:method name="add*" rollback-for="Exception" propagation="REQUIRED" isolation="DEFAULT"/>
            <tx:method name="del*" rollback-for="Exception" propagation="REQUIRED" isolation="DEFAULT"/>
            <tx:method name="update*" rollback-for="Exception" propagation="REQUIRED" isolation="DEFAULT"/>
            <tx:method name="find*" read-only="true" rollback-for="Exception" propagation="REQUIRED" isolation="DEFAULT"/>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* cn.kgc.ssm.service..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="pointcut"/>
    </aop:config>

</beans>