<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.ssm.mapper.UserMapper">
    <select id="getUser" resultType="User">
        select * from smbms_user where userCode =#{userCode}
    </select>
    <resultMap id="userList" type="User">
        <id property="id" column="id"/>
        <result property="userRoleName" column="roleName"/>
    </resultMap>
    <select id="getUserList" resultMap="userList">
        select * from smbms_user u,smbms_role r
        <where>
            u.userRole=r.id
            <if test="userName!=null and userName!=''">
                and u.userName like concat('%',#{userName},'%')
            </if>
            <if test="userRole!=null and userRole!=0">
                and u.userRole = #{userRole}
            </if>

        </where>
    </select>
    <insert id="addUser" parameterType="User">
     insert into
        smbms_user(userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate)
        values
        (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate});
    </insert>
    <select id="getUserById" resultType="User" parameterType="Integer">
        select * from smbms_user where id = #{id}
    </select>
    <update id="updateUserById" parameterType="User">
        update smbms_user
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test="userName != null">userName=#{userName},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="birthday != null">birthday=#{birthday},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="address != null">address=#{address},</if>
            <if test="userRole != null">userRole=#{userRole},</if>
            <if test="modifyBy != null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate != null">modifyDate=#{modifyDate},</if>
        </trim>
    </update>

</mapper>